{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">Data Engineer | Data Analyst | Badminton Player</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          Hey there! I'm Yogendrasinh, a Data Engineer with a passion for turning raw data into insights.
           I am a skilled Data Engineer with expertise in Python and Cloud technologies such as EC2, Lambda, Glue, GCP, 
           Pub/Sub. With experience in Apache Spark, Kafka, Flink, SQL, NoSQL databases, Docker, Terraform.
            I have successfully designed and implemented efficient data pipeline and distributed processing systems. 
            I thrive on tackling complex data challenges and leveraging cutting-edge technologies to drive business insights. 
            If you are seeking a highly skilled Data Engineer, let's <a href="{{url_for('contact')}}">connect</a> and 
            discuss how I can contribute to your data driven success.
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
